*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px Orgba(0,0,0,.5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700 !important;
}
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
} 
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29f700;
}
.carousel-inner{
    aspect-ratio: 16/9;
    background-size: cover;
    object-fit: cover;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#About h1{
    font-weight: 800;
    font-size: 50px;
}
#products{
    background : #f3a1a1;
}
#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
.card{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
#Review{
    background: #c9acac;
}
#Review h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}

<!------------ Right box ------------>

.right-box{
    padding: 40px 30px 40px 40px;
}

<!------------ Custom Placeholder ------------>

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
#contact {
    background: #c9acac;
}
#contact h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
